<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tool.title %>
</p>

<p><%= link_to 'I have this tool!', tool_listings_path(id: @tool.id), method: :post %></p>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
