<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @skill.title %>
</p>

<p><%= link_to 'I have this skill!', skill_listings_path(id: @skill.id), method: :post %></p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
